/* MOBILE */
@media (max-width:740px){
    #header .search-btn{
        display: none;
    }
    #header{
        overflow: hidden;
    }

    #header .mobile-menu-btn{
        display: block;
    }
    #slider .text-content{
        top: 10rem;
        font-size: 13px;
    }
    #nav > li{
        display: block;
    }

    #nav li a{
        padding: 1px 24px;
    }

    #nav {
        display: block;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    
    #nav .subnav{
        position: initial;
        background-color: #333;
    }
    #nav .subnav a{
        color: #fff;
        padding: 5px 42px;
    }
    .col{
        margin-bottom: 16px;
    }
    .col-haft {
        width: 100%;
    }
    .col-third {
        width: 100%;
    }
    .contact-info{
        margin: 0 0 16px;
        font-size: 18px;
    }
    .contact-form{
        padding: 32px 0;
    }
    #content .member-item{
        margin-top: 30px;
        width: 100%;
    }

    #content .member-img{
        height: 40%;
        width: 60%;
        display: inline;
        gap: normal;
        line-height: 22.5px;
        margin: 0 0 16px;
    }
    .tickets-list .quantity {
        float: right;
    }
    .model-container{
        margin: 10px;
    }
    .places-list{
        margin-top: 16px;
    }
}
/* PC */
@media (min-width:1024px) {
    .pc{
        display: block;
    }
}
/* TABLET */
@media (min-width:740px) and (max-width:1023px) {
    .tablet{
        display: block;
    }
} 